.loader {
    margin: auto;
    margin-top: 10%;
    border: 25px solid #607d8b;
    border-radius: 50%;
    border-left: 25px solid #82b1ff;
    border-right: 25px solid #82b1ff;
    height: 200px;
    width: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}